<div>
  <%= link_to following_user_path(user) do %>
    <strong>
      <%= user.following.count %>
    </strong>
    following
  <% end %>
  <%= link_to followers_user_path(user) do %>
    <strong>
      <%= user.followers.count %>
    </strong>
    followers
  <% end %>
</div>
