<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードを変更するためには以下のリンクから行うことができます。</p>

<p><%= link_to t('devise.passwords.edit.change_your_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>ご希望でない方は、このメールを無視してください。</p>
<p>パスワードは、上記のリンクにアクセスし、新しいものを作成するまで変更されません。</p>
